/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body */
body {
    background: #f4f6f8;
    margin: 0;
    padding: 20px;
}
/* Container (Login Box / Card) */
.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}

/* Heading */
h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

/* Dashboard */
.dashboard {
    width: 80%;
    max-width: 800px;
}

/* Task Card */
.task {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

/* Status Colors */
.pending {
    color: orange;
}

.done {
    color: green;
}


.overdue {
    color: red;
    font-weight: bold;
}